/*
Colors: 
#E54E79 rosa oscuro;
#E56385 rosa claro;
#00B2A9 verde;
#75726C gris oscuro;
#EDE9E2 gris claro;
*/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
}/*Esto se realiza para que la pagina de html pierda los atributos que trae por defecto
y asi no afecte a mis futuros estilos*/

body{
	font-family: 'Raleway', sans-serif;
}
/* Aquí vinculo la familia tipografica*/

/*********** Navegador o navbar ********/
.contenedor-navegador{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
} /* Deje el contenedor fijo en la parte superior porque las instrucciones
indicaban que tenia que seguirme a medida que avanzaba con el scroll*/

.navegador{
 	background-color: #E54E79;
 	height: 60px;
 	position: relative;
}

.logo{
	display: inline-block;
	width: 50px;
	height: 50px;
}
/* primero le dí las dimensiones y el lugar del contenedor de la imagen */
.imagen-uno{
	background-image: url('../img/logo-white.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 100px;
	top: 10px;
}/* luego vincule la imagen*/
.navegador ul{
	text-align: right;
	width: 90%;
	margin:0;
	position: absolute;
	top: 20px;
	bottom: 10px;
}

.navegador li{
	float: none;
	display: inline-block;
	list-style: none;
}

.navegador li a{
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 21px;
}
.navegador li a:hover{
	background-color: #E56385;
}
/* Esta propiedad permite que al pasar el mouse cambie de color el boton*/

/******** Header ********/
.seccion{
	width: 100%;
	height: 500px;
	position: relative;
}/* la foto la puse sobre la section porque como comente antes, el dejarla sobre
un div me afectaba el resto de la información*/

.uno{
	background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
}/* vincule la imagen*/

.contenedor-header{
    background-color: #EDE9E2;
    width: 40%;
    height: 290px;
    padding: 40px;
    position: absolute;
    right: 0;
    top: 110px;
}/* aqui esta el recuadro gris con información sobre la foto*/
.contenedor-header h1{
	margin: 0;
	color: #00B2A9;
	font-size: 21px;
	padding-bottom: 10px;
}

.contenedor-header label{
	display: block;
	color: #75726C;
	font-size: 14px;
	padding-bottom: 30px;
}

.contenedor-header input{
	display: block;
	color: #75726C;
	background-color: #EDE9E2;
	border:none;/* le quito el border al input*/
	border-bottom: 2px solid #BEBAB3;/* dejo solo el color inferior*/
	width: 100%;
	padding-bottom: 8px;
	outline: 0;/* este dato permite quitar la propiedad que te marca el input
	todo el cuadrado y asi queda fiel al estilo que le dí*/
	font-size: 12px;
}
.contenedor-header input[placeholder]{
	color: #B1ADA7;
	font-family: 'Raleway', sans-serif;
}/* Se le dan estilos al placeholder para que no quede con los valores por defecto*/

.contenedor-header a{
	display: inline-block;
	background-color: #E54E79;
	text-decoration: none;
	color: white;
	padding: 10px;
	border-radius: 15px;
	margin-top:10px;
	box-shadow: 0 0 3px 0 #000;/* esto permite una sombra paralela difuminada*/
}
.contenedor-header a:hover{
	background-color: #E56385;
}

.contenedor-header p{
	padding-top: 5px;
	color: #75726C;
	font-size: 16px;
}

/****************seccion dos****************/
.seccion-dos{
	width: 100%;
	height: 90vh; /* este número permite que se adapte al contenido*/
	background-color: #00B2A9;
	padding-top: 20px;
	position: relative;
}
.titulo{
	padding: 20px;
	color: #75726C;
	background-color: #EDE9E2;
	margin: 40px 0;
	position: relative;
}

.titulo h1{
	margin: 0;
	font-size: 30px;
	text-align: center;
}


.autos{
	width: 80%;
	height: 215px;
	background-color: #EDE9E2;
	margin: 0 auto;
	position: absolute;
	top: 250px;
	left: 108px;
}

.contenedor-autos {
	width: 80%;
	margin: 0 auto;
	display: flex; /*el display flex permite que todo el contenido que yo tenga se divida en columnas iguales*/
}/* caja que contiene los dos autos*/

.cars{
	flex: 1;
	font-size: 30px;
	color: #75726C;
	margin: 35px 0;
}

.cars input{
	border: none;
	border-bottom: 2px solid #75726C;
	background-color: #EDE9E2;
	outline: 0;
	width: 80%;
}

.cars input[placeholder]{
	font-size: 16px;
}

.cars input[placeholder]:hover{
	border-bottom: 2px solid #00B2A9;
}

.autos a{
	display: table;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	padding: 15px;
	background-color: #00B2A9;
	border-radius: 15px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0 0 3px 0 #000;
}

.autos a:hover{
	background-color: #0A877F;
}


/*************footer***********/

.seccion-tres{
	width: 100%;
	height: 120px;
	background-color: #75726C;
	position: relative;
}/*Se manipula la caja para dar posiciones al resto de los elementos*/

.izquierda{
 	padding-left: 80px;
}

.izquierda h3{
	margin: 0;
	color: #fff;
	padding-top: 30px;
	font-size: 16px;
}

.izquierda p{
	padding-top: 10px;
	font-size: 14px;
	color: #EDE9E2;
}

.derecha {
	float: right;
	bottom: 40px;
    right: 100px;
    position: relative;
}
.derecha h3{
	color: #fff;
	font-size: 16px;
}

.derecha a{
	color: #fff;
	padding-left:10px;
}
.derecha a:hover{
	color: #E54E79;
}

.creditos{
	background-color: #686868;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.creditos p{
	margin-left: 80px;
	color: #D8D4CF;
}

/************** Clases de Js *******************/
.cambiar{
	display: none;
}

.cuadrado{
    width: 80%;
    height: 400px;
    position: absolute;
    top: 175px;
    left: 108px;
	background-color: #75726C ;
	border:30px solid #fff;
}/*sobre este elemento se posiciona el tablero*/

.mensaje{
  position: absolute;	
  background-color: #75726C;
  color: #fff;
  font-style: bold;
  padding: 20px;
  border-radius: 15px;
  top: 34%; 
  left: 50%;
  transform: translate(-50%, -50%);
}/* estos son span creados dinamicamente para las validaciones de los autos*/

.autito{
	height: 100px;
	width: 60px;
	background-image: url(../img/car.png);
	background-size: 100%
}/*este es el espacio que contiene el dato del juego*/